.wrapper {
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 1px;

}
.wrapper-ownNode, .wrapper-submit{
  background: linear-gradient(90deg, transparent, #025CF1 0, #05DDFE 
  ) top left,

  linear-gradient(-135deg, transparent 7.5px, #05DDFE
  0) top right,

  linear-gradient(-90deg, transparent, #05DDFE
  0) bottom right,

  linear-gradient(45deg, transparent 7px, #025CF1
  0, #05DDFE) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.button {
  width: 100%;
  user-select: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 21px 55px;
  font-size: 20px;
}
.button-error{
  background: linear-gradient(90deg, transparent, #FE4206 0, #B70A0A 100%) top left,

  linear-gradient(-135deg, transparent 7px, #B70A0A 0,#B70A0A ) top right,

  linear-gradient(-90deg, transparent , #B70A0A 0,#B70A0A 100% ) bottom right,

  linear-gradient(45deg, transparent 7px, #FE4206 0, #B70A0A ) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.button-success{
 
}
.button-submit{
  background: linear-gradient(90deg, transparent,#05DDFE 0, #025CF1 850px) top left,

  linear-gradient(-135deg, transparent 7px,#025CF1 0,#05DDFE  90%) top right,

  linear-gradient(-50deg, transparent, #025CF1 0,#05DDFE  90%) bottom right,

  linear-gradient(45deg, transparent 7px, #05DDFE 0,#025CF1  850px) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.button-ownNode {
  font-size: 24px;
  background: linear-gradient(90deg, transparent, #12101A 0) top left,

  linear-gradient(-135deg, transparent 7px, #12101A 0) top right,

  linear-gradient(-90deg, transparent, #12101A 0) bottom right,

  linear-gradient(45deg, transparent 7px, #12101A 0) bottom left;
  background-size: 80% 80%;
  background-repeat: no-repeat;
}
