.wrapper {
  margin-top: 20px;
  width: 330px;
border: none;
  background: linear-gradient(-135deg, transparent 15px, #05DDFE 0, #025CF1 50%
   ) top right, linear-gradient(45deg, transparent 15px, #025CF1 0, #05DDFE 100%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;

}
.wrapper-success {
  background: linear-gradient(-135deg, transparent 15px, #0F7C34 0, #05FE4B 50%
   ) top right, linear-gradient(45deg, transparent 15px, #05FE4B 0, #0F7C34 100%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;

}
.button {
  cursor: pointer;
  user-select: none;
  width:100%;
  height: 65px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  white-space: normal;
 
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.button-simple {
  background: linear-gradient(-135deg, transparent 15px, #12101A 0) top right, linear-gradient(45deg, transparent 14px, #12101A 0) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}
.button-success {
  background: linear-gradient(-135deg, transparent 15px, #1BD2A6 0, #06FE4B  20%) top right, linear-gradient(45deg, transparent 14px,#06FE4B  0,  #1BD2A6 300%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}
.button-disabled {
  background: linear-gradient(-135deg, transparent 15px, #7E8A9F 0) top right, linear-gradient(45deg, transparent 14px, #7E8A9F 0) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  border:none;
}
.button-error {
  background: linear-gradient(-135deg, transparent 15px, #B70A0A
  0, #FE4206
  20%) top right, linear-gradient(45deg, transparent 14px,#FE4206
  0,  #B70A0A
  300%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  border:none;

}
.button-warning {
  background: linear-gradient(-135deg, transparent 15px, #B7520A 0, 
  #FE9B06
   
  20%) top right, linear-gradient(45deg, transparent 14px,#FE9B06
  0,  #B7520A

  300%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
  border:none;

}
.button-check {
  background: linear-gradient(-135deg, transparent 15px, #025CF1 0, 
  #05DDFE
  20%) top right, linear-gradient(45deg, transparent 14px,#05DDFE
  0,  #025CF1
  300%) bottom left;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}
